<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>domain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D7CB08D11E2DF7FD00E8FDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7CB08EA1E2DF7FD00E8FDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D7CB08F51E2DF7FD00E8FDFE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
